<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>已购货物</h1>
</center>
<a href="{{url_for('web.user')}}" style="float:right">{{name}}&nbsp;你好</a><br>
<a href="" style="float:right">余额：&nbsp;&nbsp;&nbsp;{{mon}}</a><br>
<a href="{{url_for('web.mains')}}" style="float:right">返回主页</a>

<div width="5%" height="10%">


</div>
{% for dic in sp   %}
<div height="40%">
<table>
	<tr>
		<img src="{{dic.img}}">
	</tr>






</table>
	商品简介：<a href="{{dic.url}}">{{dic.title}}</a><br>
	价格:{{dic.price}}<br>
	配件：{{dic.packInfo}}<br>
	厂家：{{dic.brandName}}<br>
	店家：{{dic.sellerScreenName}}<br>
	购买时间：{{dic.datetime}}



</div>
{% endfor   %}

</body>
</html>