<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


    <h1>请选择充值面额</h1>
    <center>
    <a href="{{url_for('web.user')}}" style="float:right">{{name}}&nbsp;你好</a>
<table border="3">
    <tr>
        <td><a href="{{url_for('web.chong',a=50)}}">50</a></td>
        <td><a href="{{url_for('web.chong',a=100)}}">100</a></td>
        <td><a href="{{url_for('web.chong',a=300)}}">300</a></td>
    </tr>
    <tr>
        <td><a href="{{url_for('web.chong',a=500)}}">500</a></td>
        <td><a href="{{url_for('web.chong',a=1000)}}">1000</a></td>
        <td><a href="{{url_for('web.chong',a=5000)}}">5000</a></td>
    </tr>
</table>





</center>
</body>
</html>