<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
    <div>
        {%for i in dic['imageUrls']  %}
        <img src="{{i}}">
        {% endfor  %}
    </div>
    <br>
    <div>
        <table>
            <tr>
                <th>
                商品简介:{{dic['title']}}
                </th>
                <th>
                    商品价格:{{dic['price']}}
                </th>
                <th>
                    商品厂家
                </th>
                <th>
                     商品配件
                </th>
            </tr>


        </table>
    </div>

</center>

</body>
</html>