<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>拼夕夕商城</title>
</head>
<body>
<center>
<h1>欢迎来到拼夕夕</h1>
</center>
<a href="{{url_for('web.user')}}" style="float:right">{{name}}&nbsp;你好</a><br>
<a href="" style="float:right">余额：&nbsp;&nbsp;&nbsp;{{mon}}</a>

<div width="5%" height="10%">
<center>
<form method="post" action="">
    {{form.hidden_tag()}}
    {{form.kw}}
    {{form.submit}}
</form>
</center>
	{% for dic in res %}
</div>
<div height="40%">
<table>
	<tr>
		<img src="{{dic['imageUrls'][0]}}">
	</tr>






</table>
	商品简介：<a href="{{dic.url}}">{{dic.title}}</a><br>
	价格:{{dic.price}}<br>
	配件：{{dic.packInfo}}<br>
	厂家：{{dic.brandName}}<br>
	店家：{{dic.sellerScreenName}}<br>
	<a href="{{url_for('web.buy',price=dic.price,title=dic.title,img=dic['imageUrls'][0],pack=dic.packInfo,brand=dic.brandName,st=1,url=dic.url)}}">购买</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{url_for('web.car',price=dic.price,title=dic.title,img=dic['imageUrls'][0],pack=dic.packInfo,brand=dic.brandName,url=dic.url)}}">加入购物车</a>


</div>
{%endfor%}
<!--<table>
    		<tr>
					<th width="200">商品简介</th>
					<th width="50">价格</th>
					<th width="60">图片</th>
				</tr>
				{% for dic in res %}
				<tr>
					<td>{{dic.title}}</td>
					<td>{{dic.price}}</td>
					<td>
					{% for i in dic['imageUrls']  %}
					<img src="{{i}}">
                        {% endfor  %}
                    </td>
				</tr>
				{%  endfor  %}

</table>-->

</body>
</html>